// Content scroll up animation used for loading the timeline
@-webkit-keyframes contentScrollUpAnim {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
  }
}

@keyframes contentScrollUpAnim {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
}

// Slide Down with Fade
.slide-fade-enter-active {
  transition: all 0.5s ease;
}

.slide-fade-leave-active {
  transition: all 0.45s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-200px);
  opacity: 0;
}

// Content scroll left animation used for loading the timeline
@-webkit-keyframes contentScrollLeftAnim {
  from {
    opacity: 0;
    -webkit-transform: translate3d(200px, 0, 0);
  }
}

@keyframes contentScrollLeftAnim {
  from {
    opacity: 0;
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
  }
}

// Content popup
@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  60% {
    opacity: 1;
    transform: scale(1.1);
  }
  70% {
    opacity: 1;
    transform: scale(1.2);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
