// Color variables
$background-color: #fefefe;
$dot-border-color: salmon;
$profile-border-color: #eafbff;
$text-color: #2c3e50;
$timeline-vl-color: #fef2e8;

// Gradients and shadows
$background-gradient: #fafafa;
$container-shadow: 0.5rem 0.5rem 2rem 0 rgba(black, 0.2);

// variables
$border-width: 6px;
$dot-diameter: 12px;
$gutter: 30px;

$content-height: 550px;
